<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div class="aw-error-panel">
		<h1 class="aw-error-panel__code">
			<i class="fa  fa-chain-broken"></i>
			400
		</h1>

		<h2 class="aw-error-panel__title">Requisição inválida</h2>

		<div class="aw-error-panel__description">
			Desculpe, o requisição não pôde ser entregue devido à sintaxe incorreta. 
			Tente novamente ou entre em contato com a gente se precisar de ajuda.
			<br />
			<br />
			<a th:href="@{/}" class="btn  btn-primary">Ir para página inicial</a>
		</div>
	</div>
</html>